.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px 1px 1px 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

.conteiner {
  width: 100%;
  padding: 0px 15px;
}

.hero .conteiner {
  display: flex;
  flex-direction: column;
}

.header .conteiner {
  display: flex;
  align-items: center;
}

.footer .conteiner {
  display: flex;
}

@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier 0.4, 0, 0.2, 1;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

.modal-form-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: #757575;
}

.modal-svg {
  position: absolute;
  left: 12px;
  top: 11px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier 0.4, 0, 0.2, 1;
}

.form-input:focus + .modal-svg {
  fill: #2196F3;
}

.modal-checkbox {
  white-space: nowrap;
}

.modal-form-btn {
  margin-top: 30px;
  display: flex;
  width: 100%;
}

.modal-form-btn-send {
  margin: auto;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  background: #2196F3;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier 0.4, 0, 0.2, 1;
}

.modal-form-btn-send:hover {
  background-color: #188CE8;
  cursor: pointer;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier 0.4, 0, 0.2, 1;
}

.close-btn:hover, .close-btn:focus {
  fill: #2196F3;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.form-input {
  padding: 11px 12px;
  padding-left: 42px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: outline-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier 0.4, 0, 0.2, 1;
}

.form-input:focus {
  outline-color: #2196F3;
}

.form-textarea {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: outline-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier 0.4, 0, 0.2, 1;
}

.form-textarea:focus {
  outline-color: #2196F3;
}

.form-textarea::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-group {
  display: flex;
  flex-direction: column;
}

.modal-form-group:not(:last-child) {
  margin-bottom: 10px;
}

.modal-form-group:last-child {
  margin-bottom: 20px;
}

.modal-form-group-part {
  position: relative;
}

.policy-click {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

.form-policy {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #2196F3;
}

.checkbox-label span::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  margin-right: 7px;
  vertical-align: middle;
}

.checkbox:checked + span::before {
  background-color: #2196F3;
  border: 2px solid #2196F3;
  background-image: url(../images/Vector@2x.svg);
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;
  margin-right: 93px;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list-link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier 0.4, 0, 0.2, 1;
}

.navigation-list-link:hover, .navigation-list-link:focus {
  color: #2196F3;
}

.navigation-list {
  display: flex;
}

.logo {
  color: #2196F3;
}

.current {
  color: #2196F3;
}

.current::after {
  display: block;
  position: absolute;
  bottom: -30px;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
}

.header-address {
  margin-left: auto;
}

.header-address-list {
  display: flex;
}

.header-address-list-item:not(:last-child) {
  margin-right: 50px;
}

.header-address-link-conteiner {
  display: flex;
  align-items: center;
}

.header-address-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier 0.4, 0, 0.2, 1;
}

.header-address-list-link:hover, .header-address-list-link:focus {
  color: #2196F3;
}

.svg {
  margin-right: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier 0.4, 0, 0.2, 1;
}

.header-address-list-link:hover .svg,
.header-address-list-link:focus .svg {
  fill: #2196F3;
}

.hero {
  width: 100%;
  background-color: #2F303A;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/mobil.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 118px 0px;
}

.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hero .modal-btn {
  padding: 8px 28px;
  margin-top: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-self: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  min-width: 200px;
  height: 50px;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/mobil@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/tablet.jpg");
    background-size: cover;
    padding: 118px 0px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/desktop.jpg");
    padding: 200px 0px;
  }
  .hero-title {
    font-size: 44px;
    line-height: 1.364;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/desktop@2x.jpg");
  }
}

.advantages {
  padding: 60px 0;
}

.advantages-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.advantages-list-about {
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

.advantages-list-item {
  width: 100%;
}

.advantages-list-item::before {
  content: "";
  display: block;
  width: 100%;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}

.item-one::before {
  background-image: url(../images/advantages/advantages1.svg);
}

.item-two::before {
  background-image: url(../images/advantages/advantages2.svg);
}

.item-three::before {
  background-image: url(../images/advantages/advantages3.svg);
}

.item-four::before {
  background-image: url(../images/advantages/advantages4.svg);
}

@media screen and (max-width: 767px) {
  .advantages-list:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
  }
  .advantages-list-item {
    width: 354px;
  }
  .advantages-list-item:nth-child(2n) {
    margin-left: 30px;
  }
  .advantages-list-item:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}

.our-work {
  padding-bottom: 86px;
}

.our-work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.our-work-list {
  display: flex;
}

.our-work-item:not(:last-child) {
  margin-right: 30px;
}

.our-work-item-box {
  position: relative;
}

.our-work-item-title {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 27px 0px;
  background-color: rgba(47, 48, 58, 0.8);
  color: #fff;
}

.our-team {
  padding-bottom: 86px;
  padding-top: 102px;
  background-color: #F5F4FA;
}

.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.our-team-list {
  display: flex;
}

.our-team-info {
  padding: 30px 32px;
  background-color: #fff;
}

.our-team-list-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-list-item:not(:last-child) {
  margin-right: 30px;
}

.our-team-list-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.our-team-list-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  color: #757575;
}

.our-team-social-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier 0.4, 0, 0.2, 1;
}

.our-team-social-icon-link:hover, .our-team-social-icon-link:focus {
  background-color: #2196F3;
}

.our-team-social-icon-list {
  display: flex;
  justify-content: space-between;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier 0.4, 0, 0.2, 1;
}

.our-team-social-icon-link:hover .social-icon,
.our-team-social-icon-link:focus .social-icon {
  fill: #fff;
}

.client {
  padding: 94px 0px;
}

.client-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: #212121;
}

.client-list {
  display: flex;
  justify-content: space-between;
}

.client-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: 170px;
  height: 90px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier 0.4, 0, 0.2, 1;
}

.client-item-link:hover, .client-item-link:focus {
  border: 1px solid #2196F3;
}

.client-item-svg {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier 0.4, 0, 0.2, 1;
}

.client-item-link:hover .client-item-svg,
.client-item-link:focus .client-item-svg {
  fill: #2196F3;
}

.footer {
  background-color: #2F303A;
  padding: 60px 0px;
}

.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: white;
}

.footer-list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-list-map {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-list-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-social-icon {
  margin-top: 12px;
  margin-left: 70px;
}

.footer-social-icon-list {
  display: flex;
}

.footer-social-icon-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer-social-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier 0.4, 0, 0.2, 1;
}

.footer-social-icon-link:hover, .footer-social-icon-link:focus {
  background-color: #2196F3;
}

.footer-social-icon-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-icon-svg {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.footer-form {
  margin-top: 12px;
  margin-left: 93px;
}

.footer-form-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer-input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: #ffffff;
  background-color: #2F303A;
  padding-left: 16px;
}

.footer-send-btn {
  width: 200px;
  height: 50px;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 28px;
  margin-left: 12px;
  border: 0;
}

.footer-send-btn-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.footer-send-btn-text::after {
  content: url(../images/footer/footer-send.svg);
  width: 24px;
  height: 24px;
  padding-left: 10px;
  background-position: center;
}
/*# sourceMappingURL=main.css.map */