.conteiner{
    width: 100%;
    padding: 0px 15px;
    .hero &{
        display: flex;
        flex-direction: column;
    }
    .header &{
        display: flex;
        align-items: center;
    }
    .footer &{
        display: flex;
     }
}
@media screen and (min-width: 480px){
    .conteiner{
        width: 480px;
        margin:0 auto;
      }
}
@media screen and (min-width: 768px){
    .conteiner{
        width: 768px;
    }
}
@media screen and (min-width: 1200px){
    .conteiner{
        width: 1200px;
        }
}

